# Virtual environment
student_env/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Models (if generated locally)
models/
*.pkl

